// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face(
  $name,
  $path,
  $weight: null,
  $style: null,
  $exts: eot woff2 woff ttf svg
) {
  $src: null;

  $extmods: (
    eot: '?',
    svg: '#' + str-replace($name, ' ', '_'),
  );

  $formats: (
    otf: 'opentype',
    ttf: 'truetype',
  );

  @each $ext in $exts {
    $extmod: if(
      map-has-key($extmods, $ext),
      $ext + map-get($extmods, $ext),
      $ext
    );
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append(
      $src,
      url(quote($path + '.' + $extmod)) format(quote($format)),
      comma
    );
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

$caminho: './fonts/';
// Import de fonts locais Montserrat
$thin: 100;
$light: 300;
$regular: normal;
$medium: 500;
$semibold: 600;
$bold: bold;
$xbold: 800;
$book: normal;
$heavy: 900;
$black: 900;

@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-Thin',
  $thin,
  normal,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-ThinItalic',
  $thin,
  italic,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-Light',
  $light,
  normal,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-LightItalic',
  $light,
  italic,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-Regular',
  $regular,
  normal,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-Italic',
  $regular,
  italic,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-Medium',
  $medium,
  normal,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-MediumItalic',
  $medium,
  italic,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-SemiBold',
  $semibold,
  normal,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-SemiBoldItalic',
  $semibold,
  italic,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-Bold',
  $bold,
  normal,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-BoldItalic',
  $bold,
  italic,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-ExtraBold',
  $xbold,
  normal,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-ExtraBoldItalic',
  $xbold,
  italic,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-Book',
  $black,
  normal,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-BookItalic',
  $black,
  italic,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-Heavy',
  $black,
  normal,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-HeavyItalic',
  $black,
  italic,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-Black',
  $black,
  normal,
  ttf woff
);
@include font-face(
  'Axiforma',
  $caminho + 'Axiforma-BlackItalic',
  $black,
  italic,
  ttf woff
);

/******/
%font-padrao {
  font-family: 'Axiforma', sans-serif;
}
