.form {
  @include flex;
  width: 100%;
}
.form__row {
  @include flex;
  width: 100%;
}
.form__lbl {
  width: 100%;
  display: block;
  @include font($regular, 14, 20px);
  color: $txtbr;
  margin-bottom: 5px;

  @include media(min, $lg) {
    font-size: em(18);
    line-height: 20px;
  }
}

.form__inp {
  width: 100%;
  height: 60px;
  border-radius: 8px;
  background-color: $txtbr;
  border: none;
  margin-bottom: 12px;
  @include font($regular, 12, 16px);
  color: $txtbk;
  text-transform: uppercase;
  padding: 5px 16px;

  @include media(min, $lg) {
    height: 82px;
    padding: 10px 24px;
    margin-bottom: 20px;
    font-size: em(18);
    line-height: 24px;
  }
}
