.geral {
  background-color: $txtbr;
  min-height: calc(100vh - 64px);
  padding-bottom: 10vh;

  @include media(min, $lg) {
    padding-left: 260px;
    min-height: calc(100vh - 100px);

    &.off {
      transition: all 0.3s ease-in-out;
      padding-left: 90px;
    }

    .container {
      max-width: 100%;
      padding-top: 48px;
    }
  }

  @include media(between, $lg, $xl) {
    .container {
      padding: 48px 20px 0px;
    }
  }
}
.sec {
  padding: 48px 30px 20px;
  position: relative;

  @include media(min, $lg) {
    padding: 0px 0px 45px;
  }
}
.sec__title {
  @include font($semibold, 28, 32px);
  color: $txtbk;
  margin: 0px 0px 10px;

  @include media(min, $xl) {
    font-size: em(48);
    line-height: 54px;
  }
}
.sec__prg {
  @include font($regular, 14, 20px);
  color: $txtbk;

  @include media(min, $xl) {
    font-size: em(18);
  }
}
.secdiv {
  width: 100%;
  @include flex(space-between, stretch, stretch);

  [class*='col-']:not(:last-child) {
    @include media(min, $lg) {
      margin-bottom: 32px;
    }
  }
}

.areacard {
  width: 100%;
  @include flex;
  background-color: $branco;
  border-radius: 10px;
  padding: 18px 30px 32px;

  // &:not(:last-of-type) {
  margin-bottom: 40px;

  @include media(min, $lg) {
    margin-bottom: 32px;
  }
  // }

  @include media(min, $lg) {
    border-radius: 16px;
  }

  &.ac--full {
    @include media(min, $lg) {
      height: 100%;
    }
  }
}

.areacard__title {
  @include font($regular, 20, 20px);
  color: $txtbk;
  display: block;
  width: 100%;

  @include media(min, $xl) {
    font-size: em(36);
    line-height: 48px;
  }
}

.sec__sub {
  @include font($semibold, 20, 20px);
  color: $txtbk;
  display: block;
  width: 100%;

  @include media(min, $xl) {
    font-size: em(36);
    line-height: 36px;
  }
}

.areadots {
  position: fixed;
  top: 370px;
  right: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include media(max, $md) {
    top: 64px;
    right: 0px;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: $branco;
    z-index: 10000;
  }

  @include media(between, $md, $xl) {
    top: 250px;
    right: 20px;
  }
}

.dot {
  height: 16px;
  width: 16px;
  margin: 12px 0px;
  background-color: transparent;
  border: 2px solid #2c2729;
  border-radius: 50%;
  transition: background-color 0.6s ease;

  @include media(max, $md) {
    margin: 12px 6px;
  }

  @include media(between, $md, $xl) {
    margin: 8px 0px;
  }
}

.active,
.dot:hover {
  background-color: #2c2729;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
