.areabg {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-image: url(../images/banner/background-mobile.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include flex(center);
  padding-top: 30px;

  @include media(min, $sm) {
    background-image: url(../images/banner/background.jpg);
  }

  @include media(min, $lg) {
    padding-top: 60px;
  }

  .container {
    padding: 0px 30px;
    @include flex(center);
  }
}
.login {
  @include flex(center);
  max-width: 535px;
}

.login__logo {
  margin: 0 auto 40px;
  @include flex;

  @include media(min, $lg) {
    margin: 0 auto 70px;
  }
}

.login__best {
  margin-top: 40px;

  @include media(max, $lg) {
    margin-top: 28px;
    max-width: 110px;
  }
}
