.areabg {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  background-image: url(../images/banner/background-mobile.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include flex(center);
  padding-top: 30px;

  @include media(min, $sm) {
    background-image: url(../images/banner/background.jpg);
    background-size: cover;
  }

  @include media(min, $lg) {
    padding-top: 60px;
  }

  .container {
    padding: 0px 30px;
    @include flex(center);
  }
}
.login {
  @include flex(center);
  max-width: 535px;
}

.login__logo {
  margin: 0 auto 40px;
  @include flex;

  @include media(min, $lg) {
    margin: 0 auto 70px;
  }

  &.cad {
    max-width: 320px;
    margin: 0 auto 30px;
  }
}

.login__best {
  margin-top: 40px;

  @include media(max, $lg) {
    margin-top: 28px;
    max-width: 110px;
  }
}

.cadtitle {
  @include font($regular, 28, 32px, center);
  color: $txtbr;
  text-shadow: 0 0 20px black;
  display: block;
  width: 100%;
  margin-bottom: 50px;
}

header {
  @include media(max, $lg) {
    position: sticky;
    top: 0;
    z-index: 10000;
  }
}

.areah {
  position: relative;
  height: 64px;

  @include media(min, $lg) {
    height: 100px;
  }
}

.areah__top {
  z-index: 990;
  background-color: $bg;
  width: 100%;
  height: 100%;
  @include flex(center, center, center);
  position: relative;

  @include media(min, $lg) {
    background-color: transparent;
    background-image: url(../images/banner/header-background.jpg);
  }
}
.areah__logo {
  @include media(min, $lg) {
    display: none;
  }
}

.areah__hamb {
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url(../images/icons/icon-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &.mobile {
    left: 30px;
    top: calc(50% - 12px);
    @include media(min, $lg) {
      display: none;
    }
  }

  &.desk {
    left: 40px;
    top: 40px;
  }
}

.areah__nav {
  position: absolute;
  top: -100vh;
  left: 0px;
  width: 100%;
  min-height: 480px;
  background-color: $bg;
  border-radius: 0px 0px 16px 16px;
  padding: 60px 30px;
  @include flex(flex-start, start, space-between);
  z-index: 989;

  @include media(min, $lg) {
    width: 260px;
    height: calc(100vh - 110px);
    top: 55px;
    border-radius: 0px 16px 16px 0px;
    z-index: 991;
    padding: 70px 30px 50px 40px;
    transition: all 0.4s ease-in-out;
    background-color: transparent;
    background: $gradbl3;
    position: fixed;
  }

  @include media(between, $lg, $xl) {
    width: 240px;
    padding: 70px 25px 50px 35px;
  }

  &.active {
    animation: move 1s ease-in-out;
    top: 0px;
    z-index: 989;
  }
  &.noactive {
    animation: moveOut 0.7s ease-in-out;
  }

  &.off {
    transition: all 0.3s ease-in-out;
    padding-left: 30px;
    padding-right: 8px;
    width: auto;

    .areah__nav__desc {
      transition: all 0.3s ease-in-out;
      display: none;
    }
    .areah__hamb.desk {
      transition: all 0.3s ease-in-out;
      left: 30px;
    }
  }
}
@keyframes move {
  0% {
    top: -100vh;
  }
  100% {
    top: 0px;
  }
}
@keyframes moveOut {
  0% {
    top: 0px;
  }
  100% {
    top: -100vh;
  }
}

.areah__nav__list {
  margin-top: 45px;
  width: 100%;

  li {
    @include font($regular, 14, 20px);
    color: $txtbr;
    padding: 5px 0px 5px 24px;
    @include flex(flex-start, center, center);

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    @include media(min, $lg) {
      padding: 5px 0px 5px 0px;
    }

    a {
      @include flex(flex-start);
      height: 100%;
    }
  }
}

.areah__nav__desc {
  &.off {
    display: none;
  }
  &.on {
    display: inherit;
  }
}

.areah__nav__icon {
  width: 16px;
  height: 100%;
  margin-right: 8px;
  @include flex(flex-start, center, center);
}

.areah__nav__sair {
  @include font($regular, 16, 16px);
  color: $txtbr;
  padding: 5px 0px;
  @include flex(flex-start, center, center);
  background-color: transparent;
  cursor: pointer;
}
